---
import RaceDetails from './race-details';
import ToggleRaceDetails from './toggle-race-details';

const { restOfRaces } = Astro.props;
---

<section>
  <div class="max-w-4xl m-auto py-5 flex flex-col gap-5">
    <div>
      <h2 class="dark:text-white text-3xl font-semibold">Komende races:</h2>
    </div>
    <div class="flex flex-col gap-5">
      {
        restOfRaces.map((race) => (
          <article class="flex flex-col gap-2">
            <div class="bg-gray-200 flex flex-col justify-between overflow-hidden rounded-md dark:bg-gray-800">
              <div class="flex flex-row p-2 gap-2 bg-blue-200 text-center font-semibold dark:bg-blue-700 dark:text-white">
                🗓
                <span>{race.date.startDate}</span>-
                <span>{race.date.endDate}</span>
                <span>{race.date.month}</span>
              </div>
              {race.event.eventTitle !== 'TBC' ? (
                <div class="p-2">
                  <h3 class="dark:text-white text-xl font-semibold">
                    <span class="font-semibold mr-2">🏎</span>
                    <span class="font-semibold">{race.event.eventTitle}</span>
                  </h3>
                  <h3 class="dark:text-white text-xl font-semibold">
                    {race.event.eventPlace} {race.event.flagEmoji}
                  </h3>
                  <h4 class="dark:text-white text-xl font-semibold">
                    Ronde: {race.raceRoundNumber}
                  </h4>
                </div>
              ) : (
                <div class="dark:bg-orange-800 bg-orange-200 p-2">
                  <h3 class="dark:text-white text-xl font-semibold">
                    <span class="font-semibold">
                      🚧 Race wordt nader bekend gemaakt 🚧
                    </span>
                  </h3>
                </div>
              )}
              {race.event.eventTitle !== 'TBC' && (
                <div class="flex flex-col gap-2 p-2 xs:flex-row items-start">
                  {race.content.schedule.upcomingEvents.some(
                    (element) => element.dayNumber === 'TBC'
                  ) && (
                    <span class="flex">
                      <span class="text-orange-600 font-semibold">
                        <span>⚠️</span>
                        volledig schema nog niet bekend
                        <span>⚠️</span>
                      </span>
                    </span>
                  )}

                  <ToggleRaceDetails race={race} client:only="preact" />
                </div>
              )}
            </div>

            <RaceDetails race={race} client:only="preact" />
          </article>
        ))
      }
    </div>
  </div>
</section>
